.category-mind-container {
    background-color: rgba(102, 51, 153);
    position: absolute;
    top: 55%;
    left: 48%;
    border-radius: 50%;
    width: 4%;
    text-align: center;
    cursor: grab;
}

.category-mind-container.open {
    background-color: rgba(102, 51, 153, .40);
    position: absolute;
    top: 10%;
    left: 0;
    width: 90%;
    height: 85%;
    border-radius: 0;
    margin-left: 5%;
    z-index: 1;
    box-shadow: black 10px 10px 25px 15px;
}

.category-mind-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 5%;
}

.category-mind-list > li {
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    height: 5vh;
    background-color: mediumpurple;
    transition: box-shadow 1s ease; /* Add transition */
}

.category-mind-list > li:hover {
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.7); /* Add box-shadow */
    transition: box-shadow 0.5s ease; /* Add transition */

}

.category-mind-list > li > div {
    flex: 1;
    text-align: center;
}

.category-body-container {
    background-color: rgba(255, 255, 0, 1);
    position: absolute;
    top: 75%;
    right: 48%;
    border-radius: 50%;
    width: 4%;
    text-align: center;
    cursor: pointer;
}

.category-body-container.open {
    background-color: rgba(255, 255, 0, .40);
    position: absolute;
    top: 10%;
    left: 0;
    width: 90%;
    height: 85%;
    border-radius: 0;
    margin-left: 5%;
    z-index: 1;
    box-shadow: black 10px 10px 25px 15px;
    cursor: initial;
}

.category-body-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 5%;
}

.category-body-list > li {
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    height: 5vh;
    background-color: goldenrod;
    transition: box-shadow 1s ease; /* Add transition */
}

.category-body-list > li:hover {
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.7); /* Add box-shadow */
    transition: box-shadow 0.5s ease; /* Add transition */

}

.category-body-list > li > div {
    flex: 1;
    text-align: center;
}

.category-soul-container {
    position: absolute;
    top: 85%;
    right: 48%;
    background-color: rgba(0, 0, 255, 1);
    border-radius: 50%;
    width: 4%;
    text-align: center;
}

.category-soul-container.open {
    background-color: rgba(0, 0, 255, .40);
    position: absolute;
    top: 10%;
    left: 0;
    width: 90%;
    height: 85%;
    border-radius: 0;
    margin-left: 5%;
    z-index: 1;
    box-shadow: black 10px 10px 25px 15px;
}

.category-soul-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 5%;
}

.category-soul-list > li {
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    height: 5vh;
    background-color: deepskyblue;
    transition: box-shadow 1s ease; /* Add transition */
}

.category-soul-list > li:hover {
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.7); /* Add box-shadow */
    transition: box-shadow 0.5s ease; /* Add transition */

}

.category-soul-list > li > div {
    flex: 1;
    text-align: center;
}

.category-heart-container {
    position: absolute;
    top: 65%;
    right: 48%;
    background-color: rgba(255, 20, 147, 1);
    border-radius: 50%;
    width: 4%;
    text-align: center;
}

.category-heart-container.open {
    background-color: rgba(255, 20, 147, .40);
    position: absolute;
    top: 10%;
    left: 0;
    width: 90%;
    height: 85%;
    border-radius: 0;
    margin-left: 5%;
    z-index: 1;
    box-shadow: black 10px 10px 25px 15px;
}

.category-heart-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 5%;
}

.category-heart-list > li {
    margin-bottom: 2%;
    display: flex;
    align-items: center;
    height: 5vh;
    background-color: violet;
    transition: box-shadow 1s ease; /* Add transition */
}

.category-heart-list > li:hover {
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.7); /* Add box-shadow */
    transition: box-shadow 0.5s ease; /* Add transition */

}

.category-heart-list > li > div {
    flex: 1;
    text-align: center;
}

.category-mind-item.completed,
.category-body-item.completed,
.category-soul-item.completed,
.category-heart-item.completed {
    text-decoration: line-through;
}

/* Add styles for low priority */
.category-mind-item.low,
.category-body-item.low,
.category-soul-item.low,
.category-heart-item.low{
    border-left: 5px solid green;
}

/* Add styles for medium priority */
.category-mind-item.medium,
.category-body-item.medium,
.category-soul-item.medium,
.category-heart-item.medium{
    border-left: 5px solid orange;
}

/* Add styles for high priority */
.category-mind-item.high,
.category-body-item.high,
.category-soul-item.high,
.category-heart-item.high{
    border-left: 5px solid red;
}


