.todo-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: 7%;
    margin-top: 5%;
    width: 85%; /* Adjust as needed */
    height: 70vh;

}

.todo-list-card {
    display: flex;
    flex: 1;
    width: 100%;
    background-color: rgba(127, 255, 212, .4);
    border-radius: 25px;
    box-shadow: 1px 3px 1px 1px black;
    padding: 2%;
    overflow: scroll;
    height: 100%;
}

.todo-list-card::-webkit-scrollbar {
    background: none;
    /*background-color: rgb(102, 51, 153, .9);*/
}

.todo-list-card::-webkit-scrollbar-thumb{
    background: none;
}

.header-item-container{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    width: 100%;
}

/* Styles for task container based on priority */
.high-priority {
    background-color: #ffcccc; /* Light red for high priority */
    transition: ease-in-out 0.5s;
}

.high-priority:hover {
    box-shadow: black 2px 2px 5px 1px;
    transition: ease-in-out 0.5s;
}

.medium-priority {
    background-color: #fff3cd; /* Light yellow for medium priority */
    transition: ease-in-out 0.5s;
}

.medium-priority:hover {
    box-shadow: black 2px 2px 5px 1px;
    transition: ease-in-out 0.5s;
}

.low-priority {
    background-color: #d4edda; /* Light green for low priority */
    transition: ease-in-out 0.5s;
}

.low-priority:hover {
    box-shadow: black 2px 2px 5px 1px;
    transition: ease-in-out 0.5s;
}

.task-container{
    display: flex;
    flex-direction: column;
}

/* Adjustments for task container */
.task-container-card {
    border-bottom: 1px solid #ddd;
    padding: 1%; /* Add padding for better spacing */
    margin-bottom: 1%;
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
}

.grid-item-header{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr .25fr;

}

.add-button{
    cursor: pointer;
    width: 35px;
    height: 35px;
    border: none;
    color: purple;
    background: none;
    font-size: 2em;
}

.grid-item{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr .25fr;

}

.task-checkbox{
    cursor: pointer;
    margin-top: 9%;
    width: 15px;
    height: 15px;
}

.task-complete {
    text-decoration: line-through;
    color: gray; /* Optional: Change text color for completed tasks */
}

.delete-button {
    width: 30px;
    height: 25px;
    color: #ff4d4d;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.delete-button:hover{
    box-shadow: black 2px 2px 2px 1px;
}

